/* pagination-nav */
.pagination-nav{
  /*height: 80px;*/
  margin: 20px;
  /*color: chocolate;*/
}
.pagination-nav > .back-to-top{
  text-align: center;
}
.pagination-nav > .arrow-nav a{
  text-align: center;
  color: chocolate;
}
.pagination-nav > .arrow-nav:hover a{
  text-decoration: none;
  color: coral;
}
.pagination-nav > .arrow-nav:active a{
  opacity: 0.5;
}
.pagination-nav > .arrow-nav a{
  font-size: 50px;
}
.pagination-nav > .arrow-nav.previous a{
  text-align: left;
}
.pagination-nav > .arrow-nav.next{
  text-align: right;
}
